# Allow accessing a GitHub bearer token to avoid rate limits when doing HTTP fetches to the GitHub API.
# This can be generated at https://github.com/settings/tokens?type=beta and needs read-only access to all public CYF GitHub repos.
HUGO_CURRICULUM_GITHUB_BEARER_TOKEN="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"

# Client ID and secret for the GitHub OAuth app used to authenticate users.
GITHUB_CLIENT_ID="clientid"
GITHUB_CLIENT_SECRET="clientsecret"

# The domain of the site, used for generating redirect URLs.
DOMAIN="http://localhost:1313"
